footer {
	text-align: center;
	padding: 0 0 50px 0;
	margin-top: auto;

	#hrg {
		a {
			text-transform: uppercase;
			font-family: $open-sans;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-size: 0.75em;			
			color: $charcoal;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}