header {
	padding-top: 50px;
	margin-bottom: auto;

	@include tablet-portrait {
		padding-top: 100px;
	}

	section.logo {

		img {
			margin: 0 auto;
			max-width: 250px;

			@include tablet-portrait {
				max-width: 350px;
			}

			@include desktop {
				max-width: 100%;
			}
		}

	}


}
