body.home {

	section#info {
		text-align: center;
		padding: 50px 0;

		.note {
			padding: 0 0 25px 0;

			h3 {
				font-family: $sabon-bold;
				color: $green;
				text-transform: uppercase;
				font-size: 1.5em;
				letter-spacing: 0.05em;

				@include tablet-portrait {
					font-size: 2.5em;
				}
			}
		}

		.address {

			h4 {
				color: $green;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.8125em;
				padding: 25px 0 10px 0;

				@include tablet-portrait {
					padding: 50px 0 10px 0;
				}
			}

			p {
				color: $green;
				font-family: $sabon-italic;
				font-size: 1.125em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.375em
				}

				& + p {
					padding: 20px 0 0 0;
				}

				a {
					color: $green;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.instagram {
				display: inline-block;
				width: 24px;
				height: 24px;
				text-indent: -9999px;
				background: url(images/instagram.svg) no-repeat 0 0;
				background-size: 24px 24px;
			}
		}

	}

}