body {
	background: $tan url(images/bg-texture.png) repeat 0 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}