/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #6D6862;
$slate: #2a2a2a;
$black: #000;

$tan: #F2E5D1;
$red: #A12641;
$green: #535333;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Sabon Bold';
    src: url('fonts/sabon-bold.woff2') format('woff2'),
         url('fonts/sabon-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon Italic';
    src: url('fonts/sabon-italic.woff2') format('woff2'),
         url('fonts/sabon-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$futura: "futura-pt", sans-serif;
$garamond: "adobe-garamond-pro", serif;
$open-sans: "open-sans", sans-serif;

$sabon-italic: 'Sabon Italic', sans-serif;
$sabon-bold: 'Sabon Bold', sans-serif;